$main-color: #F3223C;
$light-font-color: #858585;
$grey-rate-color: #585858;

$filter-checked-color: rgba(70, 161, 117, 0.8);



$bg-transparent: rgba(93, 136, 150, 0.08);

$element-shadow: 0 0.2rem 2rem rgba(12, 12, 13, 0.15);

